div {
    width: 600px;
    margin: 10px auto;
    box-sizing: border-box;
}

.satu {
    background-color: blue;
    padding: 10px ;
    border: 5px solid rgb(255, 0, 0);
}
.dua {
    background-color: lightgreen;
    padding: 30px;
    border: 10px dashed yellow;
}